.container{
  text-align: center;
}
.simonBoard{
  height: 600px;
  width: 600px;
  border: 8px solid black;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
}

.btn{
  width: 292px;
  height: 292px;
  float: left;
  margin: 0;
  border:4px solid black;
  position: relative;
}

.red {
  background-color: red;
  border-radius: 0 300px 0 0;
}

.green {
  background-color: green;
  border-radius: 300px 0 0 0;
}

.blue {
  background-color: blue;
  border-radius: 0 0 300px 0;
}

.yellow {
  background-color: yellow;
  border-radius: 0 0 0 300px;
}

.controls{
  height: 245px;
  width: 245px;
  border-radius: 100%;
  border: 8px solid black;
  position: absolute;
  top: 245px;
  left:540px;
  background-color: white;
}

.tittle{
  margin-top: 20px;
  border-bottom: 80px;
  font-size: 38px;
  font-weight: bolder;


}


.display{
  padding: 14px;

  background-color: gray;
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  border-radius:100%;


}

.start{
  font-size: 20px;
  font-weight: bolder;
  background-color: orange;
  color: white;
  height: 70px;
  width: 70px;
  border: 2px solid black;
  border-radius: 100%;
  display: inline-block;


}


.start p{
  position: absolute;
  top:66px;
  left: 134px;
  cursor: pointer;
}
.stop{
  font-size: 20px;
  font-weight: bolder;
  background-color:#39b3b0;
  color: white;
  height: 70px;
  width: 70px;
  border: 2px solid black;
  border-radius: 100%;
  position: absolute;
  top:145px;
  left:115px;


}
.stop p{
  margin:0;
}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.cstart{
  background-color: green;
}
.cstop{
  background-color: red;
}
